button {
  border: 0;
  background: black;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background: orangered;
}

button span {
  margin: 0 4px;
  vertical-align: middle;
}

.secondary-button {
  background: cornflowerblue;
}

.ternary-button {
  background: darkolivegreen;
}

.form-control {
  margin-bottom: 16px;
}

.title {
  font-size: 20px;
  justify-content: center;
  color: pink;
}

.form {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  margin:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form label, .login-form button {
  margin: 10px 0;
}
