button {
  border: 0;
  background: black;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px;
}

button:hover {
  background: hotpink;
}

button span {
  margin: 0 4px;
  vertical-align: middle;
}

.secondary-button {
  background: cornflowerblue;
}

.ternary-button {
  background: darkolivegreen;
}

.form-control {
  margin-bottom: 16px;
}

.title {
  font-size: 20px;
  justify-content: center;
  color: pink;
}

.form {
  display: flex;
  flex-direction: column;
}
